@model Final_Project_Backend.Models.Animals

@{
    ViewData["Title"] = "Details";
}

<h1 class="crud-page-title">Details</h1>

<div>
    <h4 class="crud-page-subtitle">Animals</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaoriName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaoriName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScientificName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScientificName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AverageSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AverageSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habitat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habitat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Origin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Origin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
            {
                <img src="@(Url.Content("~/img/animals/" + Model.ImageUrl))" alt="animal image" style="max-width:300px;max-height:300px;" />
            }
            else
            {
                @Html.DisplayFor(model => model.ImageUrl)
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Environment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Environment.EnvironmentId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AnimalId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
