@model Final_Project_Backend.Models.SpawnLocations

@{
    ViewData["Title"] = "Details";
}

<h1 class="crud-page-title">Details</h1>

<div>
    <h4 class="crud-page-subtitle">SpawnLocations</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpawnType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpawnType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.XCoordinate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.XCoordinate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YCoordinate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YCoordinate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Animal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Animal.AnimalId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Environment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Environment.EnvironmentId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SpawnLocationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
