@model IEnumerable<Final_Project_Backend.Models.Environments>

@{
    ViewData["Title"] = "Index";
}

<h1 class="crud-page-title">Environments</h1>

<p>
    <a asp-action="Create" class="create-link">+ Create New</a>
</p>
<table class="table custom-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NavigationIcon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NavigationIcon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EnvironmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EnvironmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EnvironmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
